pandas
numpy
matplotlib
seaborn
scikit-learn
learntools
sympy
tables
face-recognition
opencv-python
imbalanced-learn
numba
pillow==9.5.0
av
timm
fairscale
omegaconf
cloudpickle
cython
fvcore
pycocotools
psycopg2
python-dotenv